:root {
  --color-1: #0E73AD;
  --color-2: #FFFFFF;
  --color-3: #CCCCCC;
  --color-4: #808080;
  --color-5: #B2009E;
  --color-6: #F0F0F0;
  --color-7: #0B4B6F;
  --color-8: #26AD0E;
  --color-9: #15580A;
  --color-10: #E3E3E3;
}

.bg-main {
  background-color: #CCCCCC;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.menu-head {
  padding: 1rem 1rem 0 1rem;
  background-color: #CCCCCC;
}

.menu-sub-head {
  padding: 0 1rem 0 1rem;
  background-color: #F0F0F0;
}

