<mat-sidenav-container class="container m-0 p-0 bg-main">

  <mat-sidenav #sidenav mode="over">

    <div fxLayout="column" fxLayoutAlign="center center" class="menu-head">
      <img class="mb-1" src="../../../../assets/img/settings.svg" width="50px">
      <span mat-card-title ><h4>IronmongeryShop</h4></span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="menu-sub-head">
      <img mat-card-avatar class="mr-1" src="../../../../assets/img/img-profile.jpg" width="30px">

      <div fxLayout="column" fxLayoutAlign="center start">
        <span mat-card-title class="mt-1">Marcelo Grageda</span>
        <span mat-card-subtitle>example@example.cl</span>
      </div>
    </div>

    <mat-nav-list>

      <a mat-list-item fxLayoutAlign="start center" routerLink="/main/home">
        <img class="icon-nav" src="../../../../assets/img/icon-dashboard.svg"/>
        <span>Dashboard</span>
      </a>

      <a mat-list-item fxLayoutAlign="start center" (click)="sidenav.close()" routerLink="/main/shops">
        <img class="icon-nav" src="../../../../assets/img/icon-shop.svg"/>
        <span>Shops</span>
      </a>

      <a mat-list-item fxLayoutAlign="start center" routerLink="/main/home">
        <img class="icon-nav mr-1" src="../../../../assets/img/icon-setting.svg"/>
        <span>Settings</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow.sm="true" fxShow.gt-sm="false">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button ngClass.gt-sm="margin-left">
        IronmongeryShop
      </button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
        <mat-icon>language</mat-icon>
        <span class="ml-2">Change Language</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <span class="flag-icon flag-icon-us mr-1"></span>
          <span>English</span>
        </button>
        <button mat-menu-item>
          <span class="flag-icon flag-icon-es mr-1"></span>
          <span>Spanish</span>
        </button>
      </mat-menu>
      <mat-icon class="ml-3" title="Logout" (click)="logout()">exit_to_app</mat-icon>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-content>

</mat-sidenav-container>
