<mat-card fxLayout="row" class="p-0 m-0" (click)="openDetail()">
  <img class="img-card" fxFlex="20" src="../../../../assets/img/office.jpg">
  <div fxFlex="80" fxLayout="column" class="pl-1 pt-1">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle>Taladros y martillos</mat-card-subtitle>
  </div>
</mat-card>

<mat-card fxLayout="row" class="p-0 m-0" (click)="openDetail()">
  <img class="img-card" fxFlex="20" src="../../../../assets/img/office.jpg">
  <div fxFlex="80" fxLayout="column" class="pl-1 pt-1">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle>Taladros y martillos</mat-card-subtitle>
  </div>
</mat-card>

<mat-card fxLayout="row" class="p-0 m-0" (click)="openDetail()">
  <img class="img-card" fxFlex="20" src="../../../../assets/img/office.jpg">
  <div fxFlex="80" fxLayout="column" class="pl-1 pt-1">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle>Taladros y martillos</mat-card-subtitle>
  </div>
</mat-card>

<mat-card fxLayout="row" class="p-0 m-0" (click)="openDetail()">
  <img class="img-card" fxFlex="20" src="../../../../assets/img/office.jpg">
  <div fxFlex="80" fxLayout="column" class="pl-1 pt-1">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle>Taladros y martillos</mat-card-subtitle>
  </div>
</mat-card>

<mat-card fxLayout="row" class="p-0 m-0" (click)="openDetail()">
  <img class="img-card" fxFlex="20" src="../../../../assets/img/office.jpg">
  <div fxFlex="80" fxLayout="column" class="pl-1 pt-1">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle>Taladros y martillos</mat-card-subtitle>
  </div>
</mat-card>
