<mat-card fxLayout="row" fxLayoutAlign="center center" (click)="openDetail()">
  <img fxFlex="20" class="mr-1" src="../../../../assets/img/office.jpg">
  <div fxFlex="60" fxLayout="column">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mb-0">Taladros y martillos</mat-card-subtitle>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/img/pin.svg" width="40">
    <span>160 Km</span>
  </div>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center" (click)="openDetail()">
  <img fxFlex="20" class="mr-1" src="../../../../assets/img/office.jpg">
  <div fxFlex="60" fxLayout="column">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mb-0">Taladros y martillos</mat-card-subtitle>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/img/pin.svg" width="40">
    <span>160 Km</span>
  </div>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center" (click)="openDetail()">
  <img fxFlex="20" class="mr-1" src="../../../../assets/img/office.jpg">
  <div fxFlex="60" fxLayout="column">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mb-0">Taladros y martillos</mat-card-subtitle>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/img/pin.svg" width="40">
    <span>160 Km</span>
  </div>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center" (click)="openDetail()">
  <img fxFlex="20" class="mr-1" src="../../../../assets/img/office.jpg">
  <div fxFlex="60" fxLayout="column">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mb-0">Taladros y martillos</mat-card-subtitle>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/img/pin.svg" width="40">
    <span>160 Km</span>
  </div>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center" (click)="openDetail()">
  <img fxFlex="20" class="mr-1" src="../../../../assets/img/office.jpg">
  <div fxFlex="60" fxLayout="column">
    <mat-card-title>Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mb-0">Taladros y martillos</mat-card-subtitle>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../assets/img/pin.svg" width="40">
    <span>160 Km</span>
  </div>
</mat-card>
