<div>
  <mat-card-header class="mt-1">
    <mat-card-title class="text-center">Ferreteria Pedro</mat-card-title>
    <mat-card-subtitle class="mt-1">Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos Taladros y martillos </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10%" class="mt-1">
    <a class="btn btn-success" fxFlex="25"><img src="../../../../assets/img/telephone.svg" class="icon-button" ></a>
    <a class="btn btn-info" fxFlex="25"><img src="../../../../assets/img/map.svg" class="icon-button" ></a>
  </mat-card-content>
</div>
